*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# mac
.DS_Store


#target
*/target/*
/klimtoren-client/nbproject/private/
/klimtoren-client/build/
/klimtoren-cms/nbproject/private/
/klimtoren-cms/build/
/klimtoren-cms.old/nbproject/private/
/Replay/nbproject/private/